*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    height: 125vh;
    /* background-image: url('https://codetheweb.blog/assets/img/posts/style-a-navigation-bar-css/background.jpg'); */
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}
.grid-container{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    
}

.navbar,.image,.footer,.copyright{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.navar img {
    height: 80px;
}


.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

.navbar * {
    display: inline;
}

.navbar li {
    margin: 20px;
}

.navbar li a {
    color: black;
    text-decoration: none;
}

.news{
    margin: 10px;
    height: 350px;
    background-color: rgb(197, 196, 255);
    border: 2px solid yellow;
    border-radius: 24px;
}

.about{
    margin: 10px;
    height: 350px;
    background-color: rgb(197, 196, 255);
    border: 2px solid yellow;
    border-radius: 24px;
}

.login{
    margin: 10px;
    height: 350px;
    background-color: rgb(197, 196, 255);
    border: 2px solid yellow;
    border-radius: 24px;
}